
.messageListItem-1-jvGY {
    outline: none;
}
.cozyMessage-3V1Y8y.groupStart-23k01U {
    min-height: 2.75rem;
}
.message-2qnXI6 {
    padding-right: 48px!important;
}
.group-spacing-16 .groupStart-23k01U {
    margin-top: 1.0625rem;
}

.cozyMessage-3V1Y8y.groupStart-23k01U {
    min-height: 2.75rem;
}
.cozy-3raOZG.wrapper-2a6GCs {
    padding-left: 72px;
}

.compact-T3H92H.wrapper-2a6GCs, .cozy-3raOZG.wrapper-2a6GCs {
    padding-top: .125rem;
    padding-bottom: .125rem;
}
.wrapper-2a6GCs {
    position: relative;
    word-wrap: break-word;
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    padding-right: 16px;
    min-height: 1.375rem;
}
.cozy-3raOZG.wrapper-2a6GCs {
    padding-left: 72px;
}
.compact-T3H92H.wrapper-2a6GCs, .cozy-3raOZG.wrapper-2a6GCs {
    padding-top: .125rem;
    padding-bottom: .125rem;
}
.cozy-3raOZG .contents-2mQqc9 {
    position: static;
    margin-left: 0;
    padding-left: 0;
    text-indent: 0;
}
.avatar-1BDn8e {
    position: absolute;
    left: 16px;
    margin-top: calc(4px - .125rem);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    pointer-events: none;
    z-index: 1;
}
.zalgo-jN1Ica.cozy-3raOZG .header-23xsNx {
    overflow: hidden;
}
.cozy-3raOZG .header-23xsNx {
    display: block;
    position: relative;
    line-height: 1.375rem;
    min-height: 1.375rem;
    color: var(--text-muted);
    white-space: break-spaces;
    word-wrap: pre-wrap;
}

.markup-2BOw-j {
    font-size: 1rem;
    line-height: 1.375rem;
    white-space: pre-wrap;
    white-space: break-spaces;
    word-wrap: break-word;
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
    color: var(--text-normal);
    font-weight: 400;
}
.cozy-3raOZG .messageContent-2qWWxC {
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
    margin-left: -72px;
    padding-left: 72px;
}
.zalgo-jN1Ica .messageContent-2qWWxC {
    overflow: hidden;
}
.cozy-3raOZG .messageContent-2qWWxC {
    position: relative;
}
.messageContent-2qWWxC {
    text-indent: 0;
}
.emojiContainer-3X8SvE {
    display: inline-block;
    cursor: pointer;
}
.chatContent-a9vAAp {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    min-height: 0;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}
.messagesWrapper-1sRNjr, .scrollerContent-WzeG7R {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.messagesWrapper-1sRNjr {
    position: relative;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    min-height: 0;
    min-width: 0;
    z-index: 0;
}.scroller-2LSbBU {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.scroller-2LSbBU::-webkit-scrollbar-track {
    margin-bottom: 8px;
}.scroller-2LSbBU {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.disableScrollAnchor-3V9UtP {
    overflow-anchor: none;
}
.auto-Ge5KZx, .auto-Ge5KZx.fade-2kXiP2:hover, .auto-Ge5KZx.scrolling-1Cdwk- {
    scrollbar-color: var(--scrollbar-auto-scrollbar-color-thumb) var(--scrollbar-auto-scrollbar-color-track);
}
.auto-Ge5KZx {
    scrollbar-width: auto;
}
.scrollerBase-289Jih {
    position: relative;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    min-height: 0;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}.scrollerContent-WzeG7R {
    overflow-anchor: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    min-height: 100%;
}
.messagesWrapper-1sRNjr, .scrollerContent-WzeG7R {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.content-3YMskv {
    position: relative;
}.scrollerInner-2YIMLh {
    min-height: 0;
}
ol, ul {
    list-style: none;
}

.navigationDescription-3hiGKr {
    display: none;
}
.group-spacing-16 .divider-3_HH5L.hasContent-1_DUdQ {
    margin-top: 1.5rem;
    margin-bottom: .5rem;
}
.group-spacing-16 .divider-3_HH5L {
    margin-top: 4px;
    margin-bottom: 4px;
}
html.disable-high-contrast * {
    forced-color-adjust: none;
}
.divider-JfaTT5 {
    z-index: 1;
    height: 0px;
    border-top: thin solid var(--background-modifier-accent);
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    pointer-events: none;
    box-sizing: border-box;
    --divider-color: var(--text-danger);
}
.divider-3_HH5L {
    margin-left: 1rem;
    margin-right: .875rem;
}
.hasContent-1cNJDh {
    position: relative;
    left: auto;
    right: auto;
}
.divider-JfaTT5 {
    z-index: 1;
    height: 0;
    border-top: thin solid var(--background-modifier-accent);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    pointer-events: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    --divider-color: hsl(359,calc(var(--saturation-factor, 1)*82.6%),59.4%);
}.messageListItem-1-jvGY {
    outline: none;
}.wrapper-3vR61M {
    background-color: var(--background-primary);
    contain: strict;
    overflow: hidden;
}.group-spacing-16 .groupStart-23k01U {
    margin-top: 1.0625rem;
}
.cozyMessage-3V1Y8y.groupStart-23k01U {
    min-height: 2.75rem;
}
.cozy-3raOZG.wrapper-2a6GCs {
    padding-left: 72px;
}
.compact-T3H92H.wrapper-2a6GCs, .cozy-3raOZG.wrapper-2a6GCs {
    padding-top: .125rem;
    padding-bottom: .125rem;
}
html.disable-high-contrast * {
    forced-color-adjust: none;
}
.message-2qnXI6 {
    padding-right: 48px!important;
}
.wrapper-2a6GCs {
    position: relative;
    word-wrap: break-word;
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    padding-right: 16px;
    min-height: 1.375rem;
}.cozy-3raOZG .contents-2mQqc9 {
    position: static;
    margin-left: 0;
    padding-left: 0;
    text-indent: 0;
}.container-1ov-mD:empty {
    display: none;
}
html.disable-high-contrast * {
    forced-color-adjust: none;
}
.container-1ov-mD {
    display: grid;
    grid-auto-flow: row;
    grid-row-gap: .25rem;
    text-indent: 0;
    min-height: 0;
    min-width: 0;
    padding-top: .125rem;
    padding-bottom: .125rem;
    position: relative;
}content-yTz4x3 {
    min-width: 0;
    min-height: 0;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: stretch;
    -ms-flex-pack: stretch;
    justify-content: stretch;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    position: relative;
}
.mouse-mode .timestamp-3ZCmNB{
    pointer-events:auto
}
.keyboard-mode .wrapper-2a6GCs:focus .timestampVisibleOnHover-2bQeI4,.mouse-mode .wrapper-2a6GCs:hover .timestampVisibleOnHover-2bQeI4{
    opacity:1
}
.message-2qnXI6.selected-2P5D_Z,.mouse-mode.full-motion .message-2qnXI6:hover{
    background-color:var(--background-message-hover)
}
.message-2qnXI6.selected-2P5D_Z,.mouse-mode.full-motion .message-2qnXI6:hover{
    background-color:var(--background-message-hover)
}
.message-2qnXI6.mentioned-xhSam7.selected-2P5D_Z,.mouse-mode.full-motion .mentioned-xhSam7:hover{
    background-color:var(--background-mentioned-hover)
}
.message-2qnXI6.ephemeral-1PsL1r.selected-2P5D_Z,.message-2qnXI6.replying-1x3H0T.selected-2P5D_Z,.mouse-mode.full-motion .ephemeral-1PsL1r:hover,.mouse-mode.full-motion .replying-1x3H0T:hover{
    background-color:var(--brand-experiment-10a)
}
.message-2qnXI6.selected-2P5D_Z .buttons-cl5qTG,.mouse-mode .message-2qnXI6:hover .buttons-cl5qTG{
    opacity:1;
    pointer-events:auto
}
.cozyMessage-3V1Y8y.groupStart-23k01U{
    min-height:2.75rem
}
.message-2qnXI6.mentioned-xhSam7.selected-2P5D_Z, .mouse-mode.full-motion .mentioned-xhSam7:hover {
    background-color: var(--background-mentioned-hover);
}

.message-2qnXI6.selected-2P5D_Z, .mouse-mode.full-motion .message-2qnXI6:hover {
    background-color: var(--background-message-hover);
}
.header-1Xr5FO {
    /* position: relative; */
    text-align: center;
}

.header-1TKi98 {
    border-radius: 5px 5px 0 0;
    -webkit-transition: -webkit-box-shadow .1s ease-out;
    transition: -webkit-box-shadow .1s ease-out;
    transition: box-shadow .1s ease-out;
    transition: box-shadow .1s ease-out,-webkit-box-shadow .1s ease-out;
    word-wrap: break-word;
}
.footer-2gL1pp, .header-1TKi98 {
    position: relative;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    padding: 16px;
    z-index: 1;
    overflow-x: hidden;
}
.flex-1xMQg5 {
}
.vertical-V37hAW {
}
.directionColumn-35P_nr {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}
.noWrap-3jynv6 {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
}
.justifyStart-2NDFzi {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}
.alignCenter-1dQNNs {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.flex-1O1GKY {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.container-1CE3eW {
    width: 440px;
    max-height: 580px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}
.theme-light .footer-2gL1pp {
    background-color: #f6f6f7;
    -webkit-box-shadow: inset 0 1px 0 rgb(246 246 247 / 60%);
    box-shadow: inset 0 1px 0 rgb(246 246 247 / 60%);
}
.theme-dark .footer-2gL1pp {
    background-color: #2f3136;
    -webkit-box-shadow: inset 0 1px 0 rgb(47 49 54 / 60%);
    box-shadow: inset 0 1px 0 rgb(47 49 54 / 60%);
}
.footer-2ZvXOl {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.footer-2gL1pp {
    border-radius: 0 0 5px 5px;
}
.footer-2gL1pp, .header-1TKi98 {
    position: relative;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    padding: 16px;
    z-index: 1;
    overflow-x: hidden;
}
.horizontalReverse-2eTKWD {
}
.flex-1xMQg5 {
}
.horizontalReverse-3tRjY7 {
}
.directionRowReverse-m8IjIq {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
}
.noWrap-3jynv6 {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
}
.justifyStart-2NDFzi {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}
.alignStretch-DpGPf3 {
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
}
.flex-1O1GKY {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.selected-channel{
    background: var(--hovered-bg);
    border-radius: var(--bg-rounding);
}